<!DOCTYPE html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="css/main.css">

<!--Page title-->
<div id="app">
  <title>{{pagetitle}}</title>

<!--Mississauga SysAdmin Nav Bar-->
<div>
        <nav class="navbar navbar-expand-lg navbar-default">
          <a class="navbar-brand" href="https://web.mississauga.ca/">
            <img src="images/logo.png" width="auto" height="20" class="d-inline-block align-center" alt="">
          </a>

          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active text-light" href="#">Home <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link text-light" href="https://web.mississauga.ca/">City Page</a>
              <a class="nav-item nav-link text-light" href="https://web.mississauga.ca/our-organization/about-our-organization/">About</a>
              <a class="nav-item nav-link text-light" href="http://www.mississauga.ca/portal/residents/contact">Contact</a>
            </div>

          </div>

          <!--Nav bar longin-->
          <div>
                <a class="navbar-nav navbar-right">
                  <div class="font-weight-bold text-warning">
                    <label></label>
                    <label>{{sysadmin}}</label>
                  </div>
                </a>
              </div>
            </nav>
</div>
<!--Page Headings-->
            <div class="text-center text-light ">
              <h1  class="my-4 display-2">{{mainHeading}}</h1>
              <h3 class="text-center "><em>{{subHeading}}</em></h3>
            </div>

<!--Creating a container-->
            <div v-if="!editable && !deletable" class="container mt-4 text-center w-100">

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>D.O.B</th>
                            <th>Type</th>
                            <th>Status</th>

<!--Button in the table to refresh the page-->
                            <th>
                              <div class="text-center">
                                  <button class="btn btn-primary" @click.natve='refreshbtnClick'><img src="images/reloadicon.png" width="30px" height="30px"></button>
                              </div>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                      <!-- display data received from back-end and stored in rowData array, in the table -->
                      <tr v-for="rd in rowData" >
                          <td>{{rd.userId}}</td>
                          <td>{{rd.firstname}}</td>
                          <td>{{rd.lastname}}</td>
                          <td>{{rd.email}}</td>
                          <td>{{rd.userBirthdate}}</td>
                          <td>{{rd.type}}</td>
                          <td>{{rd.status}}</td>

                          <td class="row">

                              <a :id="rd.email" @click.prevent='updateButtonClicked'  class="btn btn-secondary a-btn-slide-text col mx-1 text-light">
                                 <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                  <span><strong>Update</strong></span>
                              </a>
                              <a  :id="rd.email" @click.prevent='deleteClicked' class="btn btn-primary a-btn-slide-text col mx-1 text-light">
                                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                   <span><strong>Delete</strong></span>
                               </a>

                          </td>
                      </tr>
                    </tbody>
                </table>





            </div>


            <!--If User wants to edit a field-->
            <div v-if="editable" class="container  mt-5" >

            <h2> Edit User </h2>
            <p v-if="isErrorA" style="color:red;"><i>{{errorMess}}</i></p>
            <p v-if="isErrorB" style="color:red;"><i>{{onlyAlphError}}</i></p>
            <form >
              <div class="form-group">
                <label for="edit-description">User Type</label>
                <input class="form-control" name="userType" :value="userOb.type" rows="3"  required/>
              </div>
            <div class="form-group">
              <label for="edit-name">User status</label>
              <input class="form-control"  name="userStatus" :value="userOb.status" required/>
            </div>

            <button type="submit" class="btn btn-primary" @click.prevent="updateUser">Save</button>
            <button type="button" class="btn btn-primary" @click.prevent="cancelButtonClicked">Cancel</button>
            </form>

          </div>



</div>



<!-- Footer -->
<footer class="page-footer font-small footer-dark w-100">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">SmartSauga&reg Sheridan&reg 2019
    <br><a href="https://www.sheridancollege.ca/academics/faculties/applied-science-and-technology/applied-computing/events"> Sheridan Capstone Showcase</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->



<!--************************************************************  Script    ************************************************************************************-->


<!--Initiating Vue.js-->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
        var vmHeaders = new Vue({
            el: '#app',
            created: function(){

              this.addDataToPage();

            },
            data: {
                mainHeading: 'SmartSauga',
                subHeading: 'User Management',
                pagetitle: 'Manage User - Smartsauga',
                sysadmin: 'Admin',
                rowData: [],
                isErrorA : false,
                isErrorB : false,
                editable: false,
                deletable:false,
                userOb: {},
                userEmail: "",
                userTypeN:"",
                userStatusN:"",
                errorMess:"",
                onlyAlphError:"",




            },
            methods:{
              //method for refreshing the page
              refreshbtnClick: function(){
                window.location.reload();
              },
              //method to call the back-end url and store data received from backend into rowData array
              addDataToPage: function(){
                axios.get('http://142.55.32.86:50224/SmartSaugaServer/GetUserData')
                .then(function (res){
                  this.rowData = res.data;
                  console.log(res.data);
                }.bind(this));
              },
              updateButtonClicked: function(){
                vmHeaders.isErrorA = false;
                vmHeaders.isErrorB = false;
                this.editable = true;
                targetId = event.currentTarget.id;
                vmHeaders.userEmail = targetId;
                axios.post('http://142.55.32.86:50224/SmartSaugaServer/returnValidateUser/'+targetId)
                .then(function (locResult){
                  vmHeaders.userOb = locResult.data;
                }.bind(this));

            },
            updateUser: function() {
              vmHeaders.isErrorA = false;
              vmHeaders.isErrorB = false;
             console.log('works');
             vmHeaders.userTypeN= document.querySelector("input[name=userType]").value;
             vmHeaders.userStatusN= document.querySelector("input[name=userStatus]").value;
             console.log("T" + " " + vmHeaders.userTypeN);
             console.log("T" + " " + vmHeaders.userStatusN);

             if(vmHeaders.userTypeN === null || vmHeaders.userTypeN == "" || vmHeaders.userTypeN == "undefined" || vmHeaders.userStatusN === null || vmHeaders.userStatusN == "" || vmHeaders.userStatusN == "undefined" ){
               vmHeaders.errorMess = "All fields  are required";
               vmHeaders.isErrorA = true;
             }

             if(!(this.validType(vmHeaders.userTypeN)) || !(this.validType(vmHeaders.userStatusN))){
               console.log("ONLY ALPHABETS");
               vmHeaders.onlyAlphError = "Please Enter valid data";
               vmHeaders.isErrorB = true;
             }else{
               axios.post('http://142.55.32.86:50224/SmartSaugaServer/updateProfile/'+vmHeaders.userEmail+'/'+vmHeaders.userTypeN+'/'+vmHeaders.userStatusN)
               .then(function (res){
                 vmHeaders.updated = false;
                 console.log("SUCCESS");
                 vmHeaders.editable= false;
                 window.location.reload();

               });
             }
            },
            cancelButtonClicked:function(){

                this.editable = false;


            },
            validType: function (name) {
                  var rn = /^[a-zA-Z\s]*$/;
                  return rn.test(name);
            },
            deleteClicked:function(){
              targetId = event.currentTarget.id;
              console.log(targetId);
              axios.post('http://142.55.32.86:50224/SmartSaugaServer/deleteUserByAdmin/'+targetId)
              .then(function (res){
                vmHeaders.updated = false;
                console.log("SUCCESS");
                vmHeaders.editable= false;
                window.location.reload();

              });
            }

            }
        });
        </script>

<!--Script-->
