<!DOCTYPE html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="css/main.css">
<!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->

<!--Page title-->
<div id="app" v-cloak>
  <title>{{pagetitle}}</title>

<!--Mississauga SysAdmin Nav Bar-->
<div>
        <nav class="navbar navbar-expand-lg navbar-default">
          <a class="navbar-brand" href="https://web.mississauga.ca/">
            <img src="images/favicon.png" width="auto" height="auto" class="d-inline-block align-top" alt="">
            <img src="images/logo.png" width="auto" height="20" class="d-inline-block align-center" alt="">
          </a>

          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active text-light" href="#">Home <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link text-light" href="https://web.mississauga.ca/">City Page</a>
              <a class="nav-item nav-link text-light" href="https://web.mississauga.ca/our-organization/about-our-organization/">About</a>
              <a class="nav-item nav-link text-light" href="http://www.mississauga.ca/portal/residents/contact">Contact</a>
            </div>

          </div>

          <!--Nav bar longin-->
          <div>
                <a class="navbar-nav navbar-right">
                  <div class="font-weight-bold text-warning">
                    <label></label>
                    <label>{{sysadmin}}</label>
                  </div>
                </a>
              </div>
            </nav>
</div>
<!--Page Headings-->
            <div class="text-center text-light ">
              <h1  class="my-4 display-2">{{mainHeading}}</h1>
              <h3 class="text-center "><em>{{subHeading}}</em></h3>
            </div>

<!--Creating a container-->

            <div v-if="!updated" class=" mt-4 text-center w-100">


                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>Location Type</th>
                            <th>Location Name</th>
                            <th>Address</th>
                            <th>Lattitude</th>
                            <th>Longitude</th>
                            <th>IOT Rating</th>
                            <!--Button in the table to refresh the page-->
                            <th>
                                <div class="text-center">
                                  <button class="btn btn-primary" @click.natve='refreshbtnClick'><img src="images/reloadicon.png" width="30px" height="30px"></button>
                                </div>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                      <tr v-for="rd in rowData">

                      <td>{{rd.locationId}}</td>
                      <td>{{rd.category}}</td>
                      <td>{{rd.name}}</td>
                      <td>{{rd.address}}</td>
                      <td>{{rd.latitude}}</td>
                      <td>{{rd.longitude}}</td>
                      <td>{{rd.locationRating}}</td>
                      <td class="row">

                          <!-- <a href="#" class="btn btn-primary a-btn-slide-text col mx-1"> -->
                      <a  :id="rd.locationId" class="btn btn-primary a-btn-slide-text col mx-1 text-light" @click.prevent="editLocationClicked">
                              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                              <span><strong>Update</strong></span>
                            </a>

                            <!-- <button type="button" :id="rd.locationId" v-on:click="editLocationClicked">Update</button> -->
                          <!-- </a> -->
                          <a :id="rd.locationId" class="btn btn-secondary a-btn-slide-text col mx-1 text-light" @click.prevent="deleteLocationClicked">
                             <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                              <span><strong>Delete</strong></span>
                          </a>
                          <a href="#" class="btn btn-primary a-btn-slide-text col mx-1">
                              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                               <span><strong>Block/Unblock</strong></span>
                           </a>

                      </td>

                    </tr>
                    </tbody>
                </table>

            </div>


            <!--after submission uses VUE submitted method and if the form is validated -->

            <div v-if='updated' class="container mt-4 text-center w-50">

                <h5 class="text-center text-danger mt-3 text-center">Update Location</h5>
                <p v-if="isErrorA" style="color:red;"><i>{{errorMess}}</i></p>
                <p v-if="isErrorB" style="color:red;"><i>{{onlyAlphError}}</i></p>
                  <form >
                    <div class="row input-group-append mx-1 mt-4">
                      <label class="input-group-text" for="edit-description">Location Type</label>
                      <input class="form-control col ml-4" name="locationType" rows="3" :value="locationOb.category"required/>
                    </div>
                  <div class="row input-group-append mx-1 mt-4">
                    <label class="input-group-text"  for="edit-name">Location Name</label>
                    <input class="col form-control ml-3"  name="locationName" :value="locationOb.name" required/>
                  </div>
                  <div class="row input-group-append mx-1 mt-4">
                    <label class="input-group-text"  for="edit-price">Location Address <span class="glyphicon glyphicon-euro"></span></label>
                    <input type="text" class="col form-control ml-1" name="locationAddress" :value="locationOb.address" required/>
                  </div>
                  <div class="mt-4">
                  <button type="submit" class="btn btn-primary mr-2" @click.prevent="saveButtonClicked">Save</button>
                  <button type="button" class="btn btn-primary ml-2" @click.prevent="cancelButtonClicked">Cancel</button>
                  </div>
                </form>


            </div>


</div>



<!-- Footer -->
<footer class="page-footer font-small footer-dark w-100">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">SmartSauga&reg Sheridan&reg 2019
    <br><a href="https://www.sheridancollege.ca/academics/faculties/applied-science-and-technology/applied-computing/events"> Sheridan Capstone Showcase</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->



<!--********************  Script    ****************************-->


<!--Initiating Vue.js-->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
        var vmHeaders = new Vue({
            el: '#app',
            created: function(){

              this.addDataToPage();

            },
            data: {
                mainHeading: 'SmartSauga',
                subHeading: 'Locations Management',
                pagetitle: 'Manage Locations - Smartsauga',
                sysadmin: 'Admin',
                rowData:[],
                updated:false,
                locId:0,
                locName:"",
                locAddr:"",
                locType:"",
                errorMess:"",
                onlyAlphError:"",
                isErrorA: false,
                isErrorB: false,
                locationOb:{}


            },
            methods:{
              //method for refreshing the page
              refreshbtnClick: function(){
                window.location.reload();
              },
              //method to call the back-end url and store data received from backend into rowData array
              addDataToPage: function(){
                axios.get('http://142.55.32.86:50224/SmartSaugaServer/GetLocations')
                .then(function (res){
                  this.rowData = res.data;
                }.bind(this));
              },
              editLocationClicked: function(){

                console.log("Update is clicked");
                vmHeaders.updated = true;
                targetId = event.currentTarget.id;
                vmHeaders.locId = targetId;
                console.log(targetId);
                console.log("locId"+ vmHeaders.locId);
                axios.get('http://142.55.32.86:50224/SmartSaugaServer/getLocId/'+targetId)
                .then(function (locResult){
                  vmHeaders.locationOb = locResult.data;
                  console.log(vmHeaders.locationOb);
                  console.log(vmHeaders.locationOb.name);
                }.bind(this));


              },
              cancelButtonClicked: function(){
                vmHeaders.updated = false;
              },
              saveButtonClicked: function(){
                  vmHeaders.isErrorB = false;
                  vmHeaders.isErrorA = false;
                  vmHeaders.locName= document.querySelector("input[name=locationName]").value;
                  vmHeaders.locAddr= document.querySelector("input[name=locationAddress]").value;
                  vmHeaders.locType= document.querySelector("input[name=locationType]").value;
                  if(vmHeaders.locName === null || vmHeaders.locName == "" || vmHeaders.locName == "undefined" || vmHeaders.locAddr === null || vmHeaders.locAddr == "" || vmHeaders.locAddr == "undefined" || vmHeaders.locType === null || vmHeaders.locType == ""|| vmHeaders.locType == "undefined"){
                    vmHeaders.errorMess = "All fields  are required";
                    vmHeaders.isErrorA = true;
                  }

                  if(!(this.validType(vmHeaders.locType))){
                    console.log("ONLY ALPHABETS");
                    vmHeaders.onlyAlphError = "Please Enter valid data";
                    vmHeaders.isErrorB = true;
                  }else{

                    axios.post('http://142.55.32.86:50224/SmartSaugaServer/updateLocationInfo/'+vmHeaders.locId+'/'+vmHeaders.locName+'/'+vmHeaders.locAddr+'/'+vmHeaders.locType)
                    .then(function (res){
                      vmHeaders.updated = false;
                      console.log("SUCCESS");
                      window.location.reload();
                    });
                  }



              },

              validType: function (name) {
                    var rn = /^[a-zA-Z\s]*$/;
                    return rn.test(name);
              },
              deleteLocationClicked:function(){
                targetId = event.currentTarget.id;
                console.log(targetId);
                axios.post('http://142.55.32.86:50224/SmartSaugaServer/deleteLocationByAdmin/'+targetId)
                .then(function (res){
                  vmHeaders.updated = false;
                  console.log("SUCCESS");
                  // vmHeaders.editable= false;
                  window.location.reload();

                });
              }

            }

        });
        </script>

<!--Script-->
